/* src/components/UserProfile.css */

.profile-page-container {
  display: flex;
  height: 100vh;
  background-color: black;
}

.profile-left-section {
  flex: 1;
  position: relative;
  background: url("../assets/profile-image.png") no-repeat center top;
  background-size: cover;
  padding-top: 60px;
  overflow: hidden;
}

.profile-left-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 85%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 100%);
  z-index: 1;
}

.profile-right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  position: relative;
}

.profile-logo {
  position: absolute;
  top: 20px;
}

.profile-logo img {
  height: 320px;
  width: auto;
}

.user-profile .btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.user-profile .btn:hover {
  background-color: #d09e44;
}

@media (max-width: 768px) {
  .profile-page-container {
    flex-direction: column;
  }

  .profile-left-section,
  .profile-right-section {
    flex: none;
    height: 50vh;
  }
}
